*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mochiy Pop P One;
}

:root {
  --shadow-color: 203deg 45% 54%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

body{
  width: 100%;
  height: 100%;
  margin: 0px;
  /*background-color: #B8E4FF;*/
  background-image: linear-gradient(
  180deg,
  hsl(203deg 100% 91%) 0%,
  hsl(203deg 100% 91%) 11%,
  hsl(203deg 100% 92%) 22%,
  hsl(203deg 100% 92%) 33%,
  hsl(203deg 100% 93%) 44%,
  hsl(203deg 100% 93%) 56%,
  hsl(203deg 100% 94%) 67%,
  hsl(203deg 100% 94%) 78%,
  hsl(203deg 100% 95%) 89%,
  hsl(203deg 100% 95%) 100%
);
}

h1{
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
  20px -10px 35px rgba(255,255,255,0.2);
  font-size: 2.5em;
}

h2{
  text-shadow: 2px 8px 6px rgba(0,0,0,0.1),
  20px -10px 35px rgba(255,255,255,0.2);
  font-size: 2em;
}

h3{
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
  20px -10px 35px rgba(255,255,255,0.2);
}

p{
  text-shadow: 2px 8px 6px rgba(0,0,0,0.1),
  20px -10px 35px rgba(255,255,255,0.1);
  color: black;
}

.disegno, .portfolio{
  color: #0095F6;
}

.passione{
  color: #FE2C55;
}

.animazione{
  color:rgb(240, 160, 40, 1);

}

.avventura{
color: purple;
}

.welcome{
  display: flex;
  flex-direction: row;
  height: 40em;
}


.welcome_txt{
  margin: 0 1em 0 1em;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 2.5em;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                   20px -10px 35px rgba(255,255,255,0.2);
}
.welcome_txt>h1{
  color:rgb(240, 160, 40, 1);
  font-size: 2em;
}

.nome{
  color: #3c8862;
}

.welcome_pic{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.propic_image_handler{
  width: 31em;
  height: 31em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .3em;
  box-shadow: var(--shadow-elevation-medium);
}

.rectangle_propic{
  height: 43em;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.social_icons{
  display: flex;
  flex-direction: row;
}


.social_icon{
  width: 1em;
  margin: .2em .2em ;
}

.social_icon:hover{
  transition: .5s ease-in;
  transform: scale(1.088) perspective(1px) translateZ(0);
}

.welcome_pic>.propic_image_handler>.rectangle_propic{
  margin-top: 9.5em;
}

.sezione{
  height: 100%;
  width: 95%;
  margin: auto;
  margin-bottom: 8em;
  margin-top: 8em;
}


.cover_line{ /*prima che si attivi con scroll*/
  opacity: 0;
  width: 2em;

}


.cover_line.active{ /*una volta attivata*/
  position: relative;
  opacity: 1;
  overflow: hidden;
  align-items: left;
  -webkit-animation: imgltr 2s ease-in-out;
   animation-fill-mode: forwards;

}

@-webkit-keyframes imgltr {
  0% {  width: 0%;}
  10%{}
      40% {}
      60%{}
      80%{width:80%}
      90%{width:90%}
      95%{width: 95%}
      98%{width: 98%}
      100% {overflow: visible; width: 100%}
}

.cover_line>img{
  width: 15em;
  position: relative;
  top: -1.4em;
  margin-bottom: -5em;
  filter: drop-shadow(2px 8px 6px rgba(0,0,0,0.2));
   pointer-events: none;
}

.portfolio_grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0 40px 0;
  flex-wrap: wrap;
  align-items: center;

}

.portfolio_element{
margin-bottom: 5em;;
}

.animazione_gif{
  width: 50em;
}

.portfolio_element>p{
  text-align: center;
}

.portfolio_pic>img, .portfolio_pic_rectangular>img, .portfolio_pic_square>img{
  margin-bottom: 1em;
}

.portfolio_pic{
  width: 65em;
  margin: .5em;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5em;
}


.portfolio_pic_rectangular{
  width: 30em;
  margin: .5em;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5em;
}

.portfolio_pic_square{
width: 44em;
margin: .5em;
overflow: hidden;
display: flex;
align-items: center;
flex-direction: column;
margin-bottom: 5em;
}

.portfolio_pic>img, .portfolio_pic_rectangular>img, .portfolio_pic_square>img{
  width: 85%;

  box-shadow: var(--shadow-elevation-medium);
  border-radius: .3em;
  object-fit: contain;

}

.portfolio_element>img{
  box-shadow: var(--shadow-elevation-medium);
  border-radius: .3em;
  object-fit: contain;

}

.social{
  display: flex;
  flex-direction: row;
}



.instagram>.social>h2{
background: -webkit-linear-gradient(90deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.segui{
  position: relative;
  top: .8em;
  margin-left: 1em;
  background-color: #0095F6;
  border: none;
  border-radius: 30px;
  padding: 1px 15px 5px 15px;
  font-size: .8em;
  color: white;
  text-align: center;
  height: 3em;
  cursor: pointer;
  box-shadow: var(--shadow-elevation-medium);
}

.segui:hover{
  background-color: #0087E9;
  transition: .5s ease-in;
  transform: scale(1.048) perspective(1px) translateZ(0);
  backface-visibility: hidden;
}


.grid{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0 40px 0;
  flex-wrap: wrap;
  align-items: center;

}

.post{
    width: 20em;
    margin: .5em;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post>a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 28em;
}

.post>a>img{
  width: 85%;

  box-shadow: var(--shadow-elevation-medium);
  border-radius: .3em;
  object-fit: contain;

}

.post>a>img:hover{
  opacity: 0.8;
  transition: .25s ease-in;
}

a{
  text-decoration: none;
  color: black
}

a:visited{
  color:black;
  text-decoration: none;
}

.interaction{
  margin-top: .8em;
}


.tiktok{
  margin-top: 8em;
}


.tiktok>.social>h2{ /*effetto tiktok*/
filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
}

.segui-1{
  background-color: #FE2C55;
  position: relative;
  top: .8em;
  margin-left: 1em;
  border: none;
  border-radius: 30px;
  padding: 1px 15px 5px 15px;
  font-size: .8em;
  color: white;
  text-align: center;
  height: 3em;
  cursor: pointer;
  box-shadow: var(--shadow-elevation-medium);
}


.segui-1:hover{
  background-color: #F80023;
  transition: .5s ease-in;
  transform: scale(1.048) perspective(1px) translateZ(0);
  backface-visibility: hidden;
}


.tiktok>p{
  margin-top: 1em;
}

.tiktok>.grid>.post{
  width: 20em;
  margin: 1em 1.6em 0 1.6em;
  overflow: hidden;
  border-radius: 2px;
  padding: 0;
}

.post>h3{
  margin-bottom: 2.8em;
  text-align: center;
}

.anteprima>img{
  width: 100%;
  opacity: .9;
  border-radius: .6em;
  margin: 1em;
  box-shadow: var(--shadow-elevation-medium);
  margin-left:auto;
}

.anteprima{
  width: 70%;
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.playcontainer{
  position: absolute;
     left: 54%;
     top: 50%;
     transform: translate(-50%, -50%);
}

.anteprima:hover .tiktok_wpp{
  opacity: 1;
  transition: .5s ease-out;
}

.play{
  width: 10em;
}


 /*facendo hover dell'anteprima (o del play button) si attiva l'effetto)*/
.anteprima:hover .play, .play:hover{
  width: 12em;
  transition: .5s ease-in;
}

.pinterest{
  margin-top: 8em;
}

.pinterest>.social>h2{
  color: #E60023;
}

.pinterest>.social>a>button{
  background-color: #E60023;
}

.pinterest>.social>a>button:hover{
  background-color: #DA0014;
}


.pampling>.social>h2{
  color: #0078d3;
}

.pampling>.social>a>.segui:hover{
  background-color: #0078d3;
}

.etsy{
  margin-top: 4em;
}

.etsy>p{
  margin-top: 1.3em;
}

.etsy>.social>h2{
  color: #eb6d20;
}

.segui-2{
  position: relative;
  top: .8em;
  margin-left: 1em;
  background-color: #FB8035;
  border: none;
  border-radius: 30px;
  padding: 1px 15px 5px 15px;
  font-size: .8em;
  color: white;
  text-align: center;
  height: 3em;
  cursor: pointer;
  box-shadow: var(--shadow-elevation-medium);
}

.segui-2:hover{
  background-color: #EB6D20;
  transition: .5s ease-in;
  transform: scale(1.048) perspective(1px) translateZ(0);
  backface-visibility: hidden;
}

.about{
  height: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.about_txt{
  margin: 0 1em 0 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.5em;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                   20px -10px 35px rgba(255,255,255,0.2);
}

.about_pic{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4.5em;
}

.about_pic>img{
  width: 25em;
  height: 25em;
  margin-left: auto;
  margin-right: auto;
  border-radius: .3em;
  box-shadow: var(--shadow-elevation-medium);

}

.about_txt>h2{
  color: #fdb915 ;
}


@media screen and (min-width: 250px) and (max-width: 700px){                          /*SCHERMI DA 250-700PX (TELEFONI)*/


  .welcome{
    display: flex;
    flex-direction: column;
    height: 50em;
    width: 100%;
  }

  .welcome_txt{
    font-size: 2.5em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    justify-content: flex-start;
    padding-top: 0.5em;

  }


  .social_icons{
    display: flex;
    flex-direction: row;
  }


  .welcome_pic{
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .propic_image_handler{
    width: 20em;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3em;
    box-shadow: var(--shadow-elevation-medium);
  }
  
  .rectangle_propic{
    height: 30em;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    
  }
  
  .welcome_pic>.propic_image_handler>.rectangle_propic{
    margin-top: 8.5em;
  }

  .animazione_gif{
    width: 22em;
  }

  .portfolio_pic{
    width: 22em;
    margin-bottom: 4em;;
  }

  .portfolio_pic_rectangular{
    width: 20em;
   
  }

  .portfolio_pic_square{
  width: 22em;
  }
  
  
  .grid{
    flex-direction: column;
  }

  .tiktok>.grid>.post{
    margin: 1em 0 1em 0;
  }

  .post{
    margin: 1em 0 1em 0;
  }

  .post>a{
  height: auto;
  }
  .about{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .about_txt{
    font-size: 1.5em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .about_pic{
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
  }

  .about_pic>img{
    width: 20em;
    height: 20em;
  }

  .post>h3{
    margin-bottom: 0.5em;
    text-align: center;
  }

}


@media screen and (min-width: 701px) and (max-width: 1000px){                                /*SCHERMI DA 701-1000PX (TABLET)*/
  .welcome_pic>img {
      width: 90%;
      height: auto;
    }

    .welcome_txt{
      font-size: 2em;
    }

    .tiktok>.grid>.post{
      justify-content: flex-end;
    }
}


@media screen and (min-width: 1900px){                                                        /*SCHERMI DA 1900PX (PC ALTA RISOLUZIONE)*/

  h1{
    font-size: 3.5em;
  }

  h2{
    font-size: 3em;
  }

  h3{
    font-size: 2em;
  }
  .tiktok>p, .interaction>a>p, .etsy>p, .about_txt>p{
    font-size: 1.5em;
  }
  .welcome_pic>img {
      width: 60%;
      height: auto;
    }

    .welcome_txt{
      font-size: 4em;
    }

    .post{
      width: 30em;
    }

    .segui, .segui-1, .segui-2{
      top: 1.6em;
    }

    .tiktok>.grid>.post{
      width: 30em;
    }
}
